/*--SALMA--*/
* {
  margin: 0 0;
  padding: 0 0;
  box-sizing: border-box;
  overflow-x: hidden;
}

html,
body {
  width: 100% !important;
  height: 100% !important;
  margin: 0 0;
  padding: 0 0;
}

.container-fluid {
  margin: 0 0 !important;
  padding: 0 0 !important;
  border: 0 0;
}

.topnav {
  background-color: white;
  align-items: center;
  width: 100%;
}

.topnav a {
  float: left;
  color: green;
  text-align: center;
  padding: 14px 10px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  color: chocolate;
}

.topnav-right {
  float: right;
}

nav img {
  width: 40px;
  height: 40px;
}

#topbtn {
  color: white;
  font-weight: bolder;
  font-size: 12px;
  background-color: green;
  border-radius: 10px;
  width: 100px;
  height: 30px;
  text-align: center;
  border: transparent;
}

#topbtn:hover {
  background-color: chocolate;
}

#sectionOne {
  background-image: url("../assets/coverimage.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height:600px;
}

.row2 {
  height: 100%;
}

div #section0ne {
  height: 100%;
}

.row2 h1 {
  margin-left: 80px;
  text-align: left;
  font-family: "Fredericka the Great";
  font-size: 8vw;
  overflow-y: hidden;
}

.row2 p {
  margin-top: 8%;
  margin-left: 80px;
  font-family: "Berkshire Swash";
  font-weight: bolder;
  font-size: 2vw;
  color: slategray;
}

/*--SALMA--*/

/*--YVONNE--*/

.row3 {
  overflow:hidden;
  margin-bottom:0;
}

.div-image {
  height:400px;
  width:300px;
  padding-top: 30px;
  border-radius: 10px;
  position: relative;
  float: left;
  margin-top: 50px;
  margin-bottom: 70px;
  margin-left:20%;
  padding: 0;
  z-index: -1;
  opacity: 1;
  transform: translate3d(60px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg)
    rotateY(0deg) rotateZ(0deg) skew(0deg);
  transform-style: preserve-3d;
}

.section2-title h2 {
  text-align: center;
  margin:20px;
  font-size: 25px;
  font-weight: bolder;
  font-family: "Fredericka the Great", cursive;
  color: green;
  opacity: 1;
  transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg)
    rotateY(0deg) rotateZ(0deg) skew(0deg);
  transform-style: preserve-3d;
  overflow: hidden;
}

.section2-text ul {
  font-family: "Fredericka the Great", cursive;
  font-weight: bold;
  font-size: 20px;
  text-align: center;
  float:right;
  margin-top: 70px;
  margin-bottom: 50px;
  margin-right: 20%;
  list-style: none !important;
  opacity: 1;
  transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg)
    rotateY(0deg) rotateZ(0deg) skew(0deg);
  transform-style: preserve-3d;
}

#sign-up-btn {
  color: green;
  font-weight: bolder;
  background-color: white;
  border-radius: 10px;
  margin-top: 40px;
  margin-bottom: 40px;
  width: 150px;
  height: 40px;
  border: 2px solid;
}

.glow-on-hover {
  width: 220px;
  height: 50px;
  border: none;
  outline: none;
  color: #fff;
  background: white;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 10px;
  border: 2px solid green;
}

.glow-on-hover:before {
  content: "";
  background: linear-gradient(
    45deg,
    #ff0000,
    #ff7300,
    #fffb00,
    #48ff00,
    #00ffd5,
    #002bff,
    #7a00ff,
    #ff00c8,
    #ff0000
  );
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing 20s linear infinite;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  border-radius: 10px;
}

.glow-on-hover:active {
  color: white;
}

.glow-on-hover:active:after {
  background: transparent;
}

.glow-on-hover:hover:before {
  opacity: 1;
}

.glow-on-hover:after {
  z-index: -1;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: white;
  left: 0;
  top: 0;
  border-radius: 10px;
}

@keyframes glowing {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}

.row4-text ul {
  font-family: "Fredericka the Great";
  font-size: 20px;
  text-align: center;
  list-style: none;
  font-weight: bold;
  margin-top: 10%;
}

.rowextra {
  align-items: center;
  font-family: "Fredericka the Great";
  margin-top:50px;
  margin-bottom: 100px;
}

.rowextra h2.headings {
  color:green;
  font-weight: bold;
  margin:10px;
}

.rowextra h2 {
  text-align: center;
  margin:10px;
}

.rowextra img {
  width:150px;
  height:150px;
  padding: 10px 10px;
}

#one-image, #two-image, #three-image {
  text-align: center;
}


.row4 {
  color:white;
  background-color:green;
  text-align: center;
  margin-top:50px;
  padding-top: 50px;
  font-size:20px;
  font-weight:bold;
  font-family:"Berkshire Swash";
}

.last{
  font-family: "Fredericka the Great";
}
/*--

#one,
#three {
  font-family: "Roboto", cursive;
  font-size: 25px;
  color: black;
  font-weight: bolder;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 350px;
  width: 100%;
  transform: translate(-50%, -50%);
}

#two {
  font-weight: bold;
  color: white;
  text-align: center;
  margin-top: 70px;
  font-size: 25px;
}

.section3 button {
  margin-bottom: 20%;
  margin-left: -55%;
}
--*/
/*--YVONNE--*/

/*--ROBERT--*/

.backhomeimg {
  float: right;
  margin-top: 30px;
  margin-right: 60px;
  background: transparent;
}

.bgimage {
  width: 100%;
  height: 100vh;
  background: url("../assets/formimage.jpeg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  /* background-attachment: fixed; */
  justify-content: center;
  align-items: center;
  text-align: center;
  color: white;
  font-family: sans-serif;
}

.accsetup {
  font-weight: bold;
  text-align: center;
}

.myform {
  width: 50%;
  align-items: center;
  margin-left: 27%;
  /* background-color: transparent; */
}

.form-control {
  background: rgba(255, 255, 255, 0.2);
  border: 0px;
  border-radius: 0px;
  border-bottom: 2px solid white;
  color: white;
}

.formbox {
  background: rgba(0, 0, 0, 0.4);
  margin-top: 0px;
  height: 100%;
  box-shadow: -1px 1px 60px 10px black inset;
}

.btn {
  background-color: #3ba139;
  color: white;
  border: 0px;
}
.engine {
  border: 1px solid black;
}
body.specialpage {
  background-color: #d7c86d;
}
.papertrail {
  font: "Fredericka the Great";
}
.incomexpense {
  margin: auto;
  padding: 10px 10px;
}
.amntincome {
  margin: auto;
  margin-top: 10px;
  text-align: center;
  width: 40%;
  background-color: rgb(0, 128, 0, 0.7);
  padding-top: 5px;
  color: white;
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  border-radius: 1rem;
  text-transform: uppercase;
}
.amntexpense {
  margin: auto;
  margin-top: 10px;
  text-align: center;
  width: 40%;
  background-color: #35365d;
  padding-top: 5px;
  color: white;
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  border-radius: 1rem;
  text-transform: uppercase;
}
input[type="text"] {
  width: 100%;
  background: transparent;
  outline: none;
  border: none;
  border-bottom: 2px solid #1d3853;
  margin-bottom: 10px;
  font-size: 17px;
  margin-top: 30px;
}
.enterAmount {
  color: black;
  font-size: 1.3rem;
  font-weight: 700;
}
input[type="number"] {
  background-color: #a57b1b;
  border-bottom: none;
}
.btn-add {
  margin: auto;
  margin-top: 15px;
  margin-bottom: 5px;
}
.button {
  background-color: #3ba139;
  color: white;
  padding: 10px 10px;
  text-transform: uppercase;
  width: 80%;
  font-size: 1rem;
  font-weight: 700;
  border: none;
  border-radius: 13px;
}
.displayedb {
  margin-left: 5%;
  font-size: 2rem;
}

.papertrail {
  font-family: "Fredericka the Great";
  font-weight:bold;
}
/*--ROBERT--*/
