/*--SALMA--*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*--SALMA--*/

/*--YVONNE--*/

.section2-title h2 {
  text-align: center;
  justify-content: center;
  font-size: 30px;
  font-weight: bolder;
  font-family: "Roboto", cursive;
  margin-top: 30px;
  margin-bottom: 30px;
  color: green;
}

.div-image {
  height: 100%;
  margin-left: 60px;
  margin-top: -60px;
  padding: 0;
  z-index: -1;
}

.section2-text {
  font-family: sans-serif;
  font-weight: bold;
  font-size: 20px;
  text-align: center;
  justify-content: center;
  margin-top: 60px;
  margin-left: -80px;
}

#sign-up-btn {
  color: white;
  font-weight: bolder;
  background-color: green;
  border-radius: 10px;
  border: transparent;
  margin-top: 40px;
  width: 220px;
  height: 40px;
}

/*--YVONNE--*/

/*--ROBERT--*/

.bgimage {
  width: 100%;
  height: 100vh;
  background: url("../assets/formimage.jpeg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  /* background-attachment: fixed; */
  justify-content: center;
  align-items: center;
  text-align: center;
  color: white;
  font-family: sans-serif;
}
.accsetup {
  font-weight: bold;
  text-align: center;
}
.myform {
  width: 50%;
  align-items: center;
  margin-left: 27%;
  background-color: transparent;
}

/*--ROBERT--*/
